<div id="forgot-password-page">
  <div class="parent">
    <div class="div1 text-center">
      <div class="input-wrapper">
        <img
          src="../../../../../assets/images/xuritilogo.png"
          alt="xuritilogo"
          class="logo img-responsive"
        />
        <p class="logotext" i18n="@@LOG1">Guaranteed payment solution</p>
      </div>
    </div>

    <div class="text-center">
      <div class="btm-imput">
        <p>©Flipbill Technologies 2022</p>
      </div>
    </div>

    <div class="div2">
      <div class="login">
        <div class="form">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
              <h2>
                <button
                  [routerLink]="['/auth/login']"
                  class="backbtn"
                  mat-icon-button
                  aria-label="Example icon button with a vertical three dot icon"
                >
                  <mat-icon>keyboard_backspace</mat-icon>
                </button>
                FORGOT PASSWORD ?
              </h2>
              <p>We’ll send a recovery link</p>
            </div>
            <div>
              <div class="input-wrapper">
                <mat-form-field class="full-width-input" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    formControlName="email"
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    required
                  />
                  <mat-error style="color: rgb(241, 14, 14)"
                    >Please enter a valid email</mat-error
                  >
                </mat-form-field>
              </div>
            </div>
            <div>
              <button mat-button color="primary" class="btn-primary">
                SEND RECOVERY LINK
              </button>
            </div>
            <div class="input-wrapper">
              <div class="forgot-password text-center">
                Return to
                <a class="forgot-password" [routerLink]="['/auth/login']">
                  Login
                </a>
              </div>
            </div>
            <div class="input-wrapper">
              <div class="divcontainer">
                <div class="divline">
                  <mat-divider></mat-divider>
                </div>
                <div class="divline">
                  <mat-divider></mat-divider>
                </div>
              </div>
            </div>
          </form>
          <div class="footer-div">
            <div class="flex-div input-wrapper">
              <div>
                <img
                  src="../../../../../assets/images/xuritilogowhite.png"
                  alt="xuritilogo"
                  class="img-responsive"
                />
              </div>
              <div>
                <p i18n="@@LOG13">
                  More than 500 merchants in your area are on Xuriti.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
