<app-layout>
  <div id="reconcilation-history-page">

    <div class="backdiv">
      <!-- <h2>Mapped Company</h2> -->
      <button
        mat-mini-fab
        color="primary"
        onclick="history.go(-1); return false;"
        class="back"
        aria-label="back button"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2> NBFC Reconciliation </h2>
    </div>
    
    <div class="margin-top margin-bottom">
      <div class="loginform">
        <div class="tableheader ">
          <div class="text-left">
            <h2 i18n="@@BA1">Reconciliation History</h2>
          </div>
          <div>
            <button mat-icon-button color="accent" matTooltip="Export Excel" matTooltipPosition="above"
              class="exel-icon" (click)="
              exporter.exportTable('xlsx', {
                fileName: 'Payment History',
                sheet: 'Payment_History',
                Props: { Author: 'Xuriti' }
              })
            " aria-label="Example icon button with a menu icon">
              <mat-icon>assignment_returned</mat-icon>
            </button>
          </div>

          <div class="upload-btn-wrapper">
            <button
              type="file"
              mat-flat-button
              matTooltip="Excel Upload"
              class="btn-export"
            >
              UPLOAD 
            </button>
            <input 
              id="excel_file"
              type="file"
              accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" 
              (change)="onFileChange($event)"
              placeholder="Upload Excel"
            >
          </div>
        </div>
  
          <div style="display: flex; column-gap: 10px;">
            <!-- invoice number -->
            <mat-form-field appearance="outline">
              <mat-label>Invoice Number</mat-label>
              <input
                matInput
                (keyup)="applyFilterInvoiceNo($event)"
                matInput
                placeholder="Search by Invoice Number"
                [formControl]="invoiceNumberControl"
              />
              <button
                type="button"
                mat-button
                (click)="invoice_clear(invoiceNumberControl)"
                matSuffix
                mat-icon-button
                aria-label="Clear"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
         
        <!-- transaction id -->
            <mat-form-field appearance="outline">
              <mat-label>Transaction Id </mat-label>
              <input
                matInput
                (keyup)="applyFilterTransactionId($event)"
                matInput
                placeholder="Search by Transaction Id"
                [formControl]="transactionIdControl"
              />
              <button
                type="button"
                mat-button
                (click)="transaction_id_clear(transactionIdControl)"
                matSuffix
                mat-icon-button
                aria-label="Clear"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          
            <mat-form-field appearance="outline">
              <mat-label>UTR Id </mat-label>
              <input
                matInput
                (keyup)="applyFilterUtrId($event)"
                matInput
                placeholder="Search by UTR Id"
                [formControl]="UtrIdControl"
              />
              <button
                type="button"
                mat-button
                (click)="utr_id_clear(UtrIdControl)"
                matSuffix
                mat-icon-button
                aria-label="Clear"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
         
        <!-- invoice amount range dropdwon -->
            <mat-form-field appearance="outline">
              <mat-label>Invoice Amount Range</mat-label>
              <mat-select (selectionChange)="invoices_amount_range($event.value)">
                <mat-option value="" selected>Select Invoice Amount Range</mat-option>
                <mat-option value="0_to_1L" selected>0 to 1 Lakh</mat-option>
                <mat-option value="2L_to_5L"> 2 Lakh to 5 Lakh </mat-option>
                <mat-option value="5L_to_25L"> 5 Lakh to 25 Lakh </mat-option>
                <mat-option value="above_25L"> Above 25 Lakh </mat-option> 
              </mat-select>
            </mat-form-field>
        
        
        <!-- seller gst number -->
              <mat-form-field appearance="outline" class="autosuggetion ">
                <mat-label>Search by Seller GST Number</mat-label>
                <input
                  matInput
                  (keyup)="getGstNo($event)"
                  placeholder="Search by GST Number"
                  [formControl]="gstControl"
                />
                <button
                  type="button"
                  mat-button
                  (click)="gst_clear(gstControl)"
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            
        

        <!-- transaction date range filter -->
            <mat-form-field appearance="outline">
              <mat-label>Select date range</mat-label>
              <mat-date-range-input
                [rangePicker]="rangePicker"
                [formGroup]="dateRange"
                [max]="maxDate"
              >
                <input
                  matStartDate
                  placeholder="Start date"
                  formControlName="start"
                  required
                  readonly
                />
                <input
                  matEndDate
                  placeholder="End date"
                  formControlName="end"
                  required
                  readonly
                />
              </mat-date-range-input>
              <mat-datepicker-toggle
                matSuffix
                [for]="rangePicker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #rangePicker>
                <mat-date-range-picker-actions>
                  <button mat-button matDateRangePickerCancel>Cancel</button>
                  <button
                    mat-raised-button
                    color="primary"
                    matDateRangePickerApply
                    (click)="transaction_date_filter()"
                  >
                    Apply
                  </button>
                </mat-date-range-picker-actions>
              </mat-date-range-picker>
            </mat-form-field>
          </div>
            
           
     
     
  
        <table mat-table matTableExporter #exporter="matTableExporter" [dataSource]="dataSource"
        matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z0">
  
        <!-- lan_id -->
        <ng-container matColumnDef="lan_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lan_id"
            i18n="@@BA7">
            LAN Id
          </th>
          <td mat-cell *matCellDef="let element" i18n="@@BA8">
            {{
            element && element.lan_id
            ? element.lan_id
            : ""
            }}
          </td>
        </ng-container>
  
        <!-- invoice_number -->
        <ng-container matColumnDef="invoice_number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by invoice_number"
            i18n="@@BA7">
            Invoice Number
          </th>
          <td mat-cell *matCellDef="let element" i18n="@@BA8">
            {{
            element && element.invoice_number
            ? element.invoice_number
            : ""
            }}
          </td>
        </ng-container>
  
        <!-- Buyer Gst -->
  
         <ng-container matColumnDef="buyer_gst">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by buyer_gst"
            i18n="@@BA9">
            Buyer GST
          </th>
          <td mat-cell *matCellDef="let element" i18n="@@BA10">
            {{ element && element.buyer_gst ? element.buyer_gst : "" }}
          </td>
        </ng-container>
  
  
        <!-- Seller Gst -->
  
        <ng-container matColumnDef="seller_gst">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by seller_gst"
            i18n="@@BA9">
            Seller GST
          </th>
          <td mat-cell *matCellDef="let element" i18n="@@BA10">
            {{ element && element.seller_gst ? element.seller_gst : "" }}
          </td>
        </ng-container>
  
        <!-- transaction_id -->
        <ng-container matColumnDef="transaction_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by transaction_id"
            i18n="@@BA7">
            Transaction Id
          </th>
          <td mat-cell *matCellDef="let element" i18n="@@BA8">
            {{element && element.transaction_id ? element.transaction_id : ''}}
          </td>
        </ng-container>
  
        <!-- Batch Id  Column -->
        <ng-container matColumnDef="batch_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by batch_id"
            i18n="@@BA9">
            Batch Id
          </th>
          <td mat-cell *matCellDef="let element" i18n="@@BA10">
            {{ element && element.batch_id ? element.batch_id : "" }}
          </td>
        </ng-container>
  
         <!-- UTR Id -->
         <ng-container matColumnDef="utr_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by utr_id"
            i18n="@@BA9">
             UTR Id
          </th>
          <td mat-cell *matCellDef="let element" i18n="@@BA10">
            {{
            ( element && element.utr_id ? element.utr_id : "")
            }}
          </td>
        </ng-container>
  
         <!-- invoice_amount Column -->
         <ng-container matColumnDef="invoice_amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by invoice_amount"
            i18n="@@BA9">
           Invoice Amount
          </th>
          <td mat-cell *matCellDef="let element" i18n="@@BA10">
            {{
            ( element && element.invoice_amount ? element.invoice_amount : "")
            }}
          </td>
        </ng-container>
  
        <!-- gst_amount Column -->
        <ng-container matColumnDef="gst_amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by gst_amount"
            i18n="@@BA3">
            GST Amount
          </th>
          <td mat-cell *matCellDef="let element" i18n="@@BA4">   
               {{(element && element.gst_amount ? element.gst_amount : '')}}
          </td>
        </ng-container>
  
        <!-- payable_amount Column -->
        <ng-container matColumnDef="payable_amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by payable_amount"
            i18n="@@BA3">
            Payable Amount
          </th>
          <td mat-cell *matCellDef="let element" i18n="@@BA4">   
               {{(element && element.payable_amount ? element.payable_amount : '')}}
          </td>
        </ng-container>
  
        <!-- invoice_date Column -->
        <ng-container matColumnDef="invoice_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by invoice_date"
            i18n="@@BA9">
            Invoice Date
          </th>
          <td mat-cell *matCellDef="let element" i18n="@@BA10">
            {{ (element && element.invoice_date ? element.invoice_date : "") | date : Date_Format }}
          </td>
        </ng-container>
  
        <!-- transaction_date Column -->
        <ng-container matColumnDef="transaction_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by transaction_date"
            i18n="@@BA9">
            Transaction Date
          </th>
          <td mat-cell *matCellDef="let element" i18n="@@BA10">
            {{(element && element.transaction_date ? element.transaction_date : "") | date : Date_Format}}
          </td>
        </ng-container>
  
         <!-- status Column -->
         <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status"
            i18n="@@BA9">
            Status
          </th>
          <td mat-cell *matCellDef="let element" i18n="@@BA10">
            {{(element && element.status ? element.status : "")}}
          </td>
        </ng-container>
  
         <!-- remarks Column -->
         <ng-container matColumnDef="remarks">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by remarks"
            i18n="@@BA9">
            Remarks
          </th>
          <td mat-cell *matCellDef="let element" i18n="@@BA10">
            {{(element && element.remarks && element.remarks != "undefined" ? element.remarks : "")}}
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="text-center">
              No Record Found
            </td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
  </div>
</app-layout>
