
::ng-deep .mat-dialog-container {


    width: 100rem;
    height: 35rem;
    background-color: rgb(239, 239, 239);
    color: black;
    font: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
    
    }
    
    .dialog-header{
      display: flex;
      align-items: center;
       h1{
        display:inline-block;
       }
       .mat-mini-fab.mat-accent {
        background-color: black;
        color: #fff;
        position:absolute;
        left:83%;
       }
    }
    
    .center-items{
      margin-top:20px;
      width: 100%;
      height:100%;
      // padding:10% 30%;
    }
    