#pending-list{
    font-family:Roboto, "Helvetica Neue", sans-serif;
    .main-wrapper{
        color:black;
        padding: 20px;
    }
    table.mat-table{
        width:100%;
    }
    tr  {
        th{
        font-size: 14px;
        background-color: black;
        color:white;
        }
        td{
            button{
                background-color: black;
                color:rgb(255, 255, 255);
            }
        }
    }
   
      .number{
        padding: 0px 2rem;
    }
  
    
   

    
}



